/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body{
    background-color: #E8E8E8;
    background-repeat: repeat-y;
    background-position: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{ background-image: url('images/bodyback-750px.png'); }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body{ background-image: url('images/bodyback-970px.png'); }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body{ background-image: url('images/bodyback-1170px.png'); }
}

body > .container{
    background: #ffffff;
    color: #1B1B1B;
}

body.homini_body .logo{
    background: transparent url('images/homini.png') center no-repeat;
    width: 245px;
    height: 80px;
    overflow: hidden;
    text-indent: -500px;
}

body.homini_body div.navbar-default,
body.homini_body div.navbar{
    background-image: none;
    border-style: none;
    background-color: #FFFFFF;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;

    margin-bottom: 0px;
    padding: 10px 20px;
}
body .navbar,
body .content{

}

body .content{
    min-height: 300px;
}

body .footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #B8B8B8;
    color: #ffffff;
}

.row {
    padding: 0px 20px;
}