#centrum{

  .main-subject{
    padding: 0px;
    margin: 20px 0px;
    img{
      max-width: 100%;
    }
  }

  .secondary-subject{

    h2{
      font-size: 1.5em;
      line-height: 2em;
      vertical-align: top;
      &:before{
        margin-right: 20px;
        content: url('../img/secondary-circle.png');
      }

    }

    &:nth-child(even){
      h2{
        &:before{
          content: url('../img/secondary.png');
        }
      }
    }

    a.more{
      display: block;
      margin-top: 10px;
      font-style: italic;
    }

  }

}