.czytelnia{

  text-align: justify;

  h2 {
    font-size: 2.2em;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }

  h4 {
    font-size: 1.0em;
    font-weight: bold;
  }

  .author{
    color: #808080;
    font-style:  italic;
    margin: 20px 0px;
  }

  p:first-of-type:first-letter,
  h3+p:first-letter{
    font-size: 2.7em;
    line-height: 1em;
    float: left;
    margin-right: 5px;
  }
}