/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body{ background-image: url('../img/bodyback-750px.png'); }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body{ background-image: url('../img/bodyback-970px.png'); }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body{ background-image: url('../img/bodyback-1170px.png'); }
}


body#homini{
  background-repeat: repeat-y;
  background-position: center;

  > .container{
    background: $homini-text-background-color;

    > .row {
      padding: 0px 20px;
    }

    .logo{
      background: transparent url('../img/homini.png') center no-repeat;
      width: 245px;
      height: 80px;
      margin-left: 10px;
      overflow: hidden;
      text-indent: -500px;
    }

    div.navbar-default,
    div.navbar{
      background-image: none;
      border-style: none;

      box-shadow: none;
      -webkit-box-shadow: none;
      border-radius: 0px;
      -webkit-border-radius: 0px;

      margin-bottom: 0px;
      padding: 10px 20px;
    }

    .content{
      min-height: 300px;

      .marker{
        height: 115px;
        background-image: url("../img/markerback.png");
        background-repeat: repeat-x;
        padding: 10px 10px 10px 55px;
        margin: 20px 0px;
        position: relative;

        font-size: 1.1em;
        @media (min-width: $screen-md){
          font-size: 1.6em;
        }

        .btn{
          @include transition(all 200ms);
          float: right;
          margin: 30px 20px;
        }

        &:before{
          content: url("../img/marker.png");
          position: absolute;
          left: 0px;
          top: 0px;
        }

        &.marker-small{
          height: 60px;
          background-image: url("../img/markerback_small.png");
          font-size: 1.1em;
          padding-left: 25px;

          &:before{
            content: url("../img/marker_small.png");
            width: 15px;
            height: 59px;
          }

        }
      }

    }

    .footer{
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: #B8B8B8;
      color: #ffffff;


      .partners{
        ul{
          list-style: none;
          padding: 0px;

          li{
            float: left;
            margin: 0px 20px;

            img{
              max-height: 80px;
              width: auto;

            }
          }
        }
      }
    }
  }
}